<a href="https://colab.research.google.com/github/YoniDevel/DS-shampoo/blob/main/python_beggining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python exercises to begin with
Here you will find a lot of simple python exercises, for you to feel comfortable around python and jupyter notebook. No need to do them all! but still, they are here for you to practice your skills, so make sure you finish only when you fill comfortable around.

Note: take a look at the few examples for recursion  at the end of the list.


-----------------------------------

Question 1
Level 1

Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
Consider use range(#begin, #end) method

In [ ]:
from typing import List
valid_nums_array: List[int] = []
for num in range(2000, 3201):
  if (num % 7 == 0 and num % 5 != 0):
    valid_nums_array.append(num)
print(valid_nums_array)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]


Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math
input_num = int(input("enter a number"))
print(math.factorial(input_num))

enter a number8
40320


Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [ ]:
dict = {}
n = int(input("enter a number"))
for i in range(1, n + 1):
  dict[i] = i ** 2
print(dict)

enter a number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}


Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [ ]:
sequence = input("enter a sequence")
sequence_array = sequence.split(",")
sequence_tuple = tuple(sequence_array)
print(f"array: {sequence_array}, tuple: {sequence_tuple}")

enter a sequence34,67,55,33,12,98
array: ['34', '67', '55', '33', '12', '98'], tuple: ('34', '67', '55', '33', '12', '98')


Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

Hints:
Use __init__ method to construct some parameters

In [ ]:
class Stringer:
  def __init__(self) -> None:
    pass
  def getString(self) -> str:
    inputted_string = input("enter a string")
    return inputted_string
  def printString(self, string: str) -> None:
    print(f"{string.upper()}");

def test_getString():
  stringer = Stringer()
  expected_input = input("enter a string")
  test_input = input("enter it again")
  return expected_input == test_input
def test_printString(string: str) -> None:
  stringer = Stringer()
  stringer.printString(string)

print(test_getString())
test_printString("hello")

enter a stringnane
enter it againnane
True
HELLO


Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
c = 50
h = 30
d_sequence = input("enter a sequence")
d_array = d_sequence.split(",")
results_array = []
for d in d_array:
  results_array.append(round(math.sqrt((2 * c * int(d)) / h)))
print(",".join(map(str, results_array)))

enter a sequence100,150,180
18,22,24


Question 7
Level 2

Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [ ]:
[X, Y]= map(int, input("enter two digits").split(","))
two_d_array: List[List[int]] = []
for i in range(X):
  row = []
  for j in range(Y):
    row.append(i * j)
  two_d_array.append(row)
print(two_d_array)

enter two digits3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]


Question 8
Level 2

Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
word_sequence = input("enter a word sequence")
sorted_sequence = ",".join(sorted(word_sequence.split(",")))
print(sorted_sequence)

enter a word sequencewithout,hello,bag,world
bag,hello,without,world


Question 9
Level 2

Question:
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
sentence = input("enter a random sentence")
print(sentence.upper())

enter a random sentenceHello world Practice makes perfect
HELLO WORLD PRACTICE MAKES PERFECT


Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
words = input("enter random words seperated by a whitespace")
print(" ".join(sorted(list(set(words.split(" "))))))

enter random words seperated by a whitespacehello world and practice makes perfect and hello world again
again and hello makes perfect practice world


Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
binary_nums = input("enter binary nums")
binary_nums_array = binary_nums.split(",")
result_array = []
for bin in binary_nums_array:
  if (int(bin, 2) % 5 == 0):
    result_array.append(bin)
print(",".join(result_array))

enter binary nums0100,0011,1010,1001
1010


Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
valid_array = []
def are_digits_even(num: int) -> bool:
  for digit in str(num)[1::]:
    if (int(digit) % 2 != 0):
      return False
  return True
for num in range(2000, 2889):
  if (are_digits_even(num)):
    valid_array.append(num)
print(",".join(map(str, valid_array)))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888


Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def is_letter(string: str) -> bool:
  return 65 <= ord(string) <= 90 or 97 <= ord(string) <= 122

def is_digit(string: str) -> bool:
  return 48 <= ord(string) <= 57


random_sentence = input("enter a sentence with letters and digits")
letters_count = 0
digits_count = 0
for char in random_sentence:
  if (is_letter(char)): letters_count += 1
  elif (is_digit(char)): digits_count += 1
print(f"LETTERS {letters_count}, DIGITS {digits_count}")

enter a sentence with letters and digitshello world! 123
LETTERS 10, DIGITS 3


Question 14
Level 2

Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
from ast import Str
def is_upper_case(letter: Str) -> bool:
  return 65 <= ord(letter) <= 90
def is_lower_case(letter: str) -> bool:
  return 97 <= ord(letter) <= 122

upper_count = 0
lower_count = 0
for letter in input("enter a sentence"):
  if (is_upper_case(letter)): upper_count += 1
  elif (is_lower_case(letter)): lower_count += 1
print(f"UPPER CASE {upper_count} LOWER CASE {lower_count}")

enter a sentenceHello world!
UPPER CASE 1 LOWER CASE 9


Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
a = input("enter a digit")
value = 0
for i in range(1, 5):
  value += int(a * i)
print(value)

enter a digit9
11106


Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
nums = input("enter nums seperated by a comma").split(",")
squared_odds = [int(x) ** 2 for x in nums if int(x) % 2 != 0]
print(",".join(map(str, squared_odds)))

enter nums seperated by a comma1,2,3,4,5,6,7,8,9
1,9,25,49,81


Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
¡­
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
bank_ops = input("enter bank operations: D for deposit, W for withdrawal").split(" ")
net_money = 0
for i in range(0, len(bank_ops), 2):
  if bank_ops[i] == 'D': net_money += int(bank_ops[i + 1])
  else: net_money -= int(bank_ops[i + 1])
print(net_money)

enter bank operations: D for deposit, W for withdrawalD 300 D 300 W 200 D 100
500


Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def is_special_character(char: str) -> bool:
  return 35 <= ord(char) <= 36 or ord(char) == 64

def is_password_valid(password: str) -> bool:
  if len(password) < 6 or len(password) > 12: return False
  validation_dict = {
    "lower": False,
    "upper": False,
    "digit": False,
    "special": False
  }
  for char in password:
    if char.isupper(): validation_dict["lower"] = True
    elif char.islower(): validation_dict["upper"] = True
    elif char.isdigit(): validation_dict["digit"] = True
    elif is_special_character(char): validation_dict["special"] = True
    if all(value for value in validation_dict.values()): return True
  return False

def print_valid_passwords() -> None:
  valid_passwords = []
  for password in input("Enter a sequence of passwords").split(","):
    if (is_password_valid(password)): valid_passwords.append(password)
  print(",".join(valid_passwords))


print_valid_passwords()

Enter a sequence of passwordsABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1


Question 19
Level 3

Question:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use itemgetter to enable multiple sort keys.

In [ ]:
from operator import itemgetter

tuples = map(lambda x: tuple(x.split(",")), input("enter tuples").split(" "))
sorting_func = itemgetter(0, 1, 2)
sorted_tuples = sorted(tuples, key=sorting_func)
print(sorted_tuples)

enter tuplesTom,19,80 John,20,90 Jony,17,91 Jony,17,93
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Tom', '19', '80')]


Question 20
Level 3

Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

Hints:
Consider use yield

In [ ]:
class A:
  def __init__(self, n):
        self.n = n

  def divisible_by_7(self):
    for num in range(self.n + 1):
        if num % 7 == 0: yield num

a = A(100)
gen = a.divisible_by_7()
for num in gen: print(num)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98


Question 21
Level 3

Question:
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math

def vector_norm(vector: tuple):
  return round(math.sqrt(sum(x**2 for x in vector)))

def print_robot_distance() -> None:
  steps_list = input("Enter directions for the robot").split(" ")
  directions_list = steps_list[::2]
  magnitudes_list = list(map(int, steps_list[1::2]))
  print(directions_list, magnitudes_list)
  robot_position = [0, 0]
  for i in range(0, len(directions_list)):
    if directions_list[i] == "UP": robot_position[1] += magnitudes_list[i]
    elif directions_list[i] == "DOWN": robot_position[1] -= magnitudes_list[i]
    elif directions_list[i] == "RIGHT": robot_position[0] += magnitudes_list[i]
    else: robot_position[0] -= magnitudes_list[i]
    print(robot_position)
  print(robot_position)
  print(vector_norm(robot_position))


print_robot_distance()

Enter directions for the robotUP 5 DOWN 3 LEFT 3 RIGHT 2
['UP', 'DOWN', 'LEFT', 'RIGHT'] [5, 3, 3, 2]
[0, 5]
[0, 2]
[-3, 2]
[-1, 2]
[-1, 2]
2


Question 22
Level 3

Question:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically.
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

Hints
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
words_list = sorted(input("Enter a sentence").split(" "))
frequencies_dict = {}
for word in words_list:
  if word in frequencies_dict:
    frequencies_dict[word] += 1
  else: frequencies_dict[word] = 1

dict_string = ", ".join(f"{key}: {value}" for key, value in frequencies_dict.items())
print(dict_string)

Enter a sentenceNew to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
2: 2, 3.: 1, 3?: 1, New: 1, Python: 5, Read: 1, and: 1, between: 1, choosing: 1, or: 2, to: 1


Question 23
level 1

Question:
    Write a method which can calculate square value of number

Hints:
    Using the ** operator

In [ ]:
def square(num: float) -> float: return num ** 2
print(square(4))

16


Question 24
Level 1

Question:
    Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
    Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
    And add document for your own function
    

Hints:
    The built-in document method is __doc__

In [ ]:
def print_something(string: str) -> None:
  """
  this method prints the string given as a parameter
  """
  print(string)


print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)
print(print_something.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.


  this method prints the string given as a parameter


Question 25
Level 1

Question:
    Define a class, which have a class parameter and have a same instance parameter.

Hints:
    Define a instance parameter, need add it in __init__ method
    You can init a object with construct parameter or set the value later

In [ ]:
class Animal:
  breed = 'dog'
  def __init__(self, breed: str):
    self.breed = breed

animal = Animal("cat")

<__main__.Animal object at 0x78e971211f90>


Question:
Define a function which can compute the sum of two numbers.

Hints:
Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

In [ ]:
def add(a: float, b: float) -> float: return a + b

print(add(4, 5))

9


Question:
Define a function that can convert a integer into a string and print it in console.

Hints:
Use str() to convert a number to string.

In [ ]:
def convert_to_string_and_print(a: int) -> None: print(str(a))


convert_to_string_and_print(7)

7


Question:
Define a function that can convert a integer into a string and print it in console.

Hints:
Use str() to convert a number to string.

In [ ]:
def convert_to_string_and_print(a: int) -> None: print(str(a))


convert_to_string_and_print(7)



Question:
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

Hints:
Use int() to convert a string to integer.

In [ ]:
def print_sum(a: str, b: str) -> None: print(int(a) + int(b))


print_sum("5", "8")

13


Question:
Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:
Use + to concatenate the strings

In [ ]:
def concat(a: str, b: str) -> None: print(a + b)


concat("hello ", "world")

hello world


Question:
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print all strings line by line.

Hints:
Use len() function to get the length of a string

In [ ]:
def print_longest(a: str, b: str) -> None:
  if (len(a) > len(b)): print(a)
  elif (len(a) < len(b)): print(b)
  else: print(f"{a}\n{b}")


print_longest("hello", "Hey")
print_longest("hello", "world")

hello
hello
world


Question:
Define a function that can accept an integer number as input and print the 'It is an even number' if the number is even, otherwise print 'It is an odd number'.

Hints:
Use % operator to check if a number is even or odd.

In [ ]:
def print_duality(num: int) -> None:
  if (num % 2 == 0): print("It is an even number")
  else: print("It is an odd number")


print_duality(67)
print_duality(80)

It is an odd number
It is an even number


Question:
Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.

In [10]:
def print_squares_dict() -> None:
  squares_dict = {}
  for i in range(1, 4):
    squares_dict[i] = i ** 2
  print(squares_dict)


print_squares_dict()

{1: 1, 2: 4, 3: 9}


Question:
Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.

In [11]:
def print_squares_dict() -> None:
  squares_dict = {}
  for i in range(1, 21):
    squares_dict[i] = i ** 2
  print(squares_dict)


print_squares_dict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}


Question:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [15]:
def print_squares_dict() -> None:
  squares_dict = {}
  for i in range(1, 21):
    squares_dict[i] = i ** 2
  for key in squares_dict.keys():
    print(squares_dict[key])


print_squares_dict()

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400


Question:
Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

Hints:
Use dict[key]=value pattern to put entry into a dictionary.
Use ** operator to get power of a number.
Use range() for loops.
Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [ ]:
def print_squares_dict() -> None:
  squares_dict = {}
  for i in range(1, 21):
    squares_dict[i] = i ** 2
  for key in squares_dict.keys():
    print(squares_dict[key])


print_squares_dict()


Question:
Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.

In [16]:
def print_squares_list() -> None:
  lst = []
  for i in range(1, 21):
    lst.append(i ** 2)
  print(lst)


print_squares_list()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [17]:
def print_squares_list() -> None:
  lst = []
  for i in range(1, 21):
    lst.append(i ** 2)
  print(lst[:5])


print_squares_list()

[1, 4, 9, 16, 25]


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [ ]:
def print_squares_list() -> None:
  lst = []
  for i in range(1, 21):
    lst.append(i ** 2)
  print(lst[:5])


print_squares_list()


Question:
Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use [n1:n2] to slice a list

In [18]:
def print_squares_list() -> None:
  lst = []
  for i in range(1, 21):
    lst.append(i ** 2)
  print(lst[5:])


print_squares_list()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]


Question:
Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

Hints:
Use ** operator to get power of a number.
Use range() for loops.
Use list.append() to add values into a list.
Use tuple() to get a tuple from a list.

In [19]:
def print_squares_tupple() -> None:
  lst = []
  for i in range(1, 21):
    lst.append(i ** 2)
  tup = tuple(lst)
  print(tup)


print_squares_tupple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)


Question:
With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

Hints:
Use [n1:n2] notation to get a slice from a tuple.

In [21]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(tup[:5])
print(tup[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)


Question:
Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

Hints:
Use 'for' to iterate the tuple
Use tuple() to generate a tuple from a list.

In [23]:
def create_evens_tuple() -> None:
  tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
  lst = []
  for elem in tup:
    if (elem % 2 == 0): lst.append(elem)
  new_tup = tuple(lst)
  print(new_tup)


create_evens_tuple()

(2, 4, 6, 8, 10)


Question:
Write a program which accepts a string as input to print 'Yes' if the string is 'yes' or 'YES' or 'Yes', otherwise print 'No'.

Hints:
Use if statement to judge condition.

In [29]:
def is_it_a_yes(a: str) -> None:
  string_to_check = 'Yes'
  if (a == string_to_check or a == string_to_check.upper() or a == string_to_check.lower()):
    print(string_to_check)
  else: print("No")

is_it_a_yes("yes")
is_it_a_yes("Yes")
is_it_a_yes("YES")
is_it_a_yes("hell nah")

Yes
Yes
Yes
No


Question:
Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

Hints:
Use filter() to filter some elements in a list.
Use lambda to define anonymous functions.

In [32]:
def evens_lst() -> None:
  lst =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  evens_lst = list(filter(lambda x: x % 2 == 0, lst))
  print(evens_lst)


evens_lst()

[2, 4, 6, 8, 10]


Question:
Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Hints:
Use map() to generate a list.
Use lambda to define anonymous functions.

In [33]:
def square_elements() -> None:
    lst =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    squares_lst = list(map(lambda x: x ** 2, lst))
    print(squares_lst)


square_elements()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


Question:
Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

Hints:
Use map() to generate a list.
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [36]:
def square_evens() -> None:
  lst =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
  valid_lst = list(map(lambda x: x ** 2, list(filter(lambda x: x % 2 == 0, lst))))
  print(valid_lst)


square_evens()

[4, 16, 36, 64, 100]


Question:
Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

Hints:
Use filter() to filter elements of a list.
Use lambda to define anonymous functions.

In [39]:
evens_lst = list(filter(lambda x: x % 2 == 0, range(1, 21)))
print(evens_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


Question:
Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

Hints:
Use map() to generate a list.
Use lambda to define anonymous functions.

In [41]:
sqr_lst = list(map(lambda x: x ** 2, range(1, 21)))
print(sqr_lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]


Question:
Define a class named American which has a static method called printNationality.

Hints:
Use @staticmethod decorator to define class static method.

In [43]:
class American:
  def __init__(self):
    pass
  @staticmethod
  def printNationality() -> None:
    print("America!")

american = American()
american.printNationality()

America!


Question:
Define a class named American and its subclass NewYorker.

Hints:
Use class Subclass(ParentClass) to define a subclass.

In [44]:
class American:
  def __init__(self):
    pass
  @staticmethod
  def printNationality() -> None:
    print("America!")

class NewYorker(American):
  def __init__(self):
    pass


new_yorker = NewYorker()
new_yorker.printNationality()

America!


Question:
Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

Hints:
Use def methodName(self) to define a method.

In [46]:
import math

class Circle:
  def __init__(self, radius: float):
    self.radius = radius

  def compute_area(self) -> float:
    return math.pi * self.radius ** 2


circ = Circle(5)
print(circ.compute_area())

78.53981633974483


Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

Hints:
Use def methodName(self) to define a method.

In [48]:
class Rectangle:
  def __init__(self, width: float, length: float):
    self.width = width
    self.length = length

  def compute_area(self) -> float:
    return self.width * self.length


rect = Rectangle(4, 5)
print(rect.compute_area())

20


Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

Hints:
To override a method in super class, we can define a method with the same name in the super class.

In [49]:
from abc import ABC, abstractmethod

class Shape(ABC):
  area = 0
  def __init__(self): pass
  def print_area(self): pass

class Square(Shape):
  def __init__(self, length: float):
    self.length = length
    self.area = length ** 2

  def print_area(self): print(self.area)


sqr = Square(23)
sqr.print_area()

529



Please raise a RuntimeError exception.

Hints:
Use raise() to raise an exception.

In [50]:
raise(RuntimeError)

RuntimeError:


Write a function to compute 5/0 and use try/except to catch the exceptions.

Hints:
Use try/except to catch exceptions.

In [52]:
def divide_by_0() -> None:
  try:
    return 5/0
  except ZeroDivisionError as e:
    print("cannot divide by 0")
    raise(e)

divide_by_0()

cannot divide by 0

ZeroDivisionError: division by zero


Define a custom exception class which takes a string message as attribute.

Hints:
To define a custom exception, we need to define a class inherited from Exception.

In [56]:
class CostumException(Exception):
  def __init__(self, message):
    self.message = message

ce = CostumException("This is my message")
print(ce.message)
raise(ce)

This is my message

CostumException: This is my message


Question:
Assuming that we have some email addresses in the 'username@companyname.com' format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use  to match letters.

In [57]:
def extract_user_name(email: str) -> None:
  print(email[:email.index('@')])


extract_user_name('john@google.com')

john


Question:
Assuming that we have some email addresses in the 'username@companyname.com' format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
google
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use  to match letters.

In [60]:
def extract_company(email: str) -> None:
  print(email[email.index('@') + 1:email.index('.')])


extract_company('john@google.com')

google


Question:
Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.
Example:
If the following words is given as input to the program:
2 cats and 3 dogs.
Then, the output of the program should be:
['2', '3']
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use re.findall() to find all substring using regex.

In [62]:
import re

def extract_nums() -> None:
  seq = input("Enter a sequence")
  digit_words = re.findall(r'\b\d+\b', seq)
  print(digit_words)


extract_nums()

Enter a sequence2 cats and 3 dogs
['2', '3']


Question:

Print a unicode string 'hello world'.

Hints:
Use u'strings' format to define unicode string.

In [64]:
print(u"hello world")

hello world


Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

Hints:
Use unicode() function to convert.

In [65]:
def convert_to_unicode() -> str:
  ascii_string = input("Enter an ASCII string: ")
  utf8_bytes = ascii_string.encode('utf-8')
  unicode_string = utf8_bytes.decode('utf-8')
  return unicode_string


print(convert_to_unicode())

# in python 3, all strings are unicodes, so there is no unicode() function any more...

Enter an ASCII string: 56
56


Question:
Write a special comment to indicate a Python source code file is in unicode.

Hints:

In [66]:
# -*- coding: utf-8 -*-


Question:
Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).
Example:
If the following n is given as input to the program:
5
Then, the output of the program should be:
3.55
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
Use float() to convert an integer to a float

In [75]:
def fracs_sum(n: int) -> float:
  sum = 0
  for i in range(1, n + 1):
    sum += float(i) / float(i + 1)
  return sum


print(fracs_sum(5))

3.5500000000000003


Question:
Write a program to compute:
f(n)=f(n-1)+100 when n>0
and f(0)=1
with a given n input by console (n>0).
Example:
If the following n is given as input to the program:
5
Then, the output of the program should be:
500
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
We can define recursive function in Python.

In [76]:
def f(n: int) -> int:
  if n == 0: return 1
  return f(n - 1) + 100

f(5) # should be 501, not 500...

501


Question:

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program to compute the value of f(n) with a given n input by console.
Example:
If the following n is given as input to the program:
7
Then, the output of the program should be:
13
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:
We can define recursive function in Python.

In [77]:
def fib(n: int) -> int:
  if 0 <= n <= 1: return n
  return fib(n - 1) + fib(n - 2)

print(fib(7))

13


Question:
The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1
Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.
Example:
If the following n is given as input to the program:
7
Then, the output of the program should be:
0,1,1,2,3,5,8,13


Hints:
We can define recursive function in Python.
Use list comprehension to generate a list from an existing list.
Use string.join() to join a list of strings.
In case of input data being supplied to the question, it should be assumed to be a console input.

In [81]:
def print_fib_lst(n: int) -> None:
  fib_lst = [fib(x) for x in range(n + 1)]
  print(",".join(list(map(str, fib_lst))))


print_fib_lst(7)

0,1,1,2,3,5,8,13


Question:
Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

Hints:
Use yield to produce the next value in generator.
In case of input data being supplied to the question, it should be assumed to be a console input.

In [83]:
def even_numbers(n):
    for i in range(0, n + 1, 2):
        yield i

def print_evens(n: int) -> None:
  evens = even_numbers(n)
  print(",".join(list(map(str, evens))))


print_evens(10)

0,2,4,6,8,10


Question:
Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

Hints:
Use yield to produce the next value in generator.
In case of input data being supplied to the question, it should be assumed to be a console input.

In [85]:
def valid_numbers(n):
    for i in range(0, n + 1, 35):
        yield i

def print_nums(n: int) -> None:
  evens = valid_numbers(n)
  print(",".join(list(map(str, evens))))


print_nums(100)

0,35,70


Question:

Please write assert statements to verify that every number in the list [2,4,6,8] is even.


Hints:
Use 'assert expression' to make assertion.

In [87]:
numbers = [2, 4, 6, 8, 10]
for num in numbers:
    assert num % 2 == 0, f"{num} is not even"


Question:
Please write a program which accepts basic mathematic expression from console and print the evaluation result.
Example:
If the following string is given as input to the program:
35+3
Then, the output of the program should be:
38

Hints:
Use eval() to evaluate an expression.

In [88]:
def evaluate_expression(expr: str) -> int:
  return eval(expr)


evaluate_expression(input("Enter an expression: "))

Enter an expression35+3

38


Question:
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.


Hints:
Use if/elif to deal with conditions.

In [90]:
from typing import List

def binary_search(lst: List[int], num: int) -> int:
  left_pointer = 0
  right_pointer = len(lst) - 1
  while (left_pointer <= right_pointer):
    middle = (left_pointer + right_pointer) // 2
    middle_element = lst[middle]
    if (middle_element == num): return middle
    elif (middle_element > num): right_pointer = middle - 1
    else: left_pointer = middle + 1
  return -1


print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 7))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 2))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 13))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], -4))

6
1
-1
-1


Question:
Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.


Hints:
Use if/elif to deal with conditions.

In [ ]:
from typing import List

def binary_search(lst: List[int], num: int) -> int:
  left_pointer = 0
  right_pointer = len(lst) - 1
  while (left_pointer <= right_pointer):
    middle = (left_pointer + right_pointer) // 2
    middle_element = lst[middle]
    if (middle_element == num): return middle
    elif (middle_element > num): right_pointer = middle - 1
    else: left_pointer = middle + 1
  return -1


print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 7))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 2))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 13))
print(binary_search([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], -4))


Question:
Please generate a random float where the value is between 10 and 100 using Python math module.


Hints:
Use random.random() to generate a random float in [0,1].

In [91]:
import random

print(random.uniform(10, 100))

60.87261867749009


Question:
Please generate a random float where the value is between 5 and 95 using Python math module.


Hints:
Use random.random() to generate a random float in [0,1].

In [ ]:
import random

print(random.uniform(5, 95))


Question:
Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.


Hints:
Use random.choice() to a random element from a list.

In [96]:
import random

print(random.choice([x for x in range(11) if x % 2 == 0]))

8


Question:
Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 10 inclusive using random module and list comprehension.


Hints:
Use random.choice() to a random element from a list.

In [98]:
import random

print(random.choice([x for x in range(11) if x % 35 == 0]))

0


Question:
Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [99]:
import random

print(random.sample([x for x in range(100, 201)], 5))

[157, 125, 186, 187, 145]


Question:
Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [102]:
import random

print(random.sample([x for x in range(100, 201) if x % 2 == 0], 5))

[162, 170, 188, 176, 124]


Question:
Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.


Hints:
Use random.sample() to generate a list of random values.

In [103]:
import random

print(random.sample([x for x in range(1, 1001) if x % 35 == 0], 5))

[350, 525, 210, 35, 420]


Question:
Please write a program to randomly print a integer number between 7 and 15 inclusive.


Hints:
Use random.randrange() to a random integer in a given range.

In [108]:
import random

random.randrange(7, 15)

8


Question:
Please write a program to compress and decompress the string 'hello world!hello world!hello world!hello world!'.


Hints:
Use zlib.compress() and zlib.decompress() to compress and decompress a string.

In [109]:
import zlib

original_string = 'hello world!hello world!hello world!hello world!'
compressed_data = zlib.compress(original_string.encode())
print(f"Compressed data: {compressed_data}")
decompressed_data = zlib.decompress(compressed_data).decode()
print(f"Decompressed string: {decompressed_data}")

Compressed data: b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
Decompressed string: hello world!hello world!hello world!hello world!


Question:
Please write a program to print the running time of execution of '1+1' for 100 times.


Hints:
Use timeit() function to measure the running time.

In [111]:
import timeit

time = timeit.timeit('1+1', number=100)
print(time)

2.082000719383359e-06


Question:
Please write a program to shuffle and print the list [3,6,7,8].


Hints:
Use shuffle() function to shuffle a list.

In [116]:
import random

my_list = [3, 6, 7, 8]
random.shuffle(my_list)
print(my_list)

[7, 6, 3, 8]


Question:
Please write a program to shuffle and print the list [3,6,7,8].


Hints:
Use shuffle() function to shuffle a list.

In [ ]:
import random

my_list = [3, 6, 7, 8]
random.shuffle(my_list)
print(my_list)


Question:
Please write a program to generate all sentences where subject is in ['I', 'You'] and verb is in ['Play', 'Love'] and the object is in ['Hockey','Football'].

Hints:
Use list[index] notation to get a element from a list.

In [119]:
def generate_sentences():
  subjects = ['I', 'You']
  verbs = ['Play', 'Love']
  objects = ['Hockey', 'Football']
  sentences = [f"{subject} {verb} {obj}" for subject in subjects for verb in verbs for obj in objects]
  print(", ".join(sentences))


generate_sentences()

I Play Hockey, I Play Football, I Love Hockey, I Love Football, You Play Hockey, You Play Football, You Love Hockey, You Love Football


Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

Hints:
Use list comprehension to delete a bunch of element from a list.

In [120]:
print([x for x in [5,6,77,45,22,12,24] if x % 2 != 0])

[5, 77, 45]


Question:
By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.

In [121]:
print([x for x in [12,24,35,70,88,120,155] if x % 35 != 0])

[12, 24, 88, 120, 155]


Question:
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.
Use enumerate() to get (index, value) tuple.

In [122]:
print([x for i, x in enumerate([12,24,35,70,88,120,155]) if i % 2 != 0])

[24, 70, 120]


Question:
By using list comprehension, please write a program generate a 3*5*8 3D array whose each element is 0.

Hints:
Use list comprehension to make an array.

In [124]:
print([[[0 for _ in range(8)] for _ in range(5)] for _ in range(3)])

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]


Question:
By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

Hints:
Use list comprehension to delete a bunch of element from a list.
Use enumerate() to get (index, value) tuple.

In [125]:
print([x for i, x in enumerate([12,24,35,70,88,120,155]) if i != 0 and not(4 <= i <= 5)])

[24, 35, 70, 155]


Question:
By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

Hints:
Use list's remove method to delete a value.

In [127]:
print([x for x in [12,24,35,24,88,120,155] if x != 24])

[12, 35, 88, 120, 155]


Question:
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

Hints:
Use set() and '&=' to do set intersection operation.

In [128]:
set_1 = set([1,3,6,78,35,55])
set_2 = set([12,24,35,24,88,120,155])
print(list(set_1 & set_2))

[35]


With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

Hints:
Use set() to store a number of values without duplicate.

In [129]:
print(list(set([12,24,35,24,88,120,155,88,120,155])))

[35, 12, 155, 24, 88, 120]


Question:
Define a class Person and its two child classes: Male and Female. All classes have a method 'getGender' which can print 'Male' for Male class and 'Female' for Female class.

Hints:
Use Subclass(Parentclass) to define a child class.

In [134]:
from abc import ABC, abstractmethod

class Person(ABC):
  @abstractmethod
  def __init__(self) -> None: pass

  @abstractmethod
  def getGender(self) -> str: pass

class Male(Person):
  def __init__(self, name: str) -> None:
    self.name = name

  def getGender(self) -> str: return "Male"

class Female(Person):
  def __init__(self, name: str) -> None:
    self.name = name

  def getGender(self) -> str: return "Female"


male = Male("Jonh")
female = Female("Mandy")
print(male.getGender())
print(female.getGender())

Male
Female


Question:
Please write a program which count and print the numbers of each character in a string input by console.
Example:
If the following string is given as input to the program:
abcdefgabc
Then, the output of the program should be:
a,2
c,2
b,2
e,1
d,1
g,1
f,1

Hints:
Use dict to store key/value pairs.
Use dict.get() method to lookup a key with default value.

In [136]:
def count_characters(input_string: str) -> None:
  char_count = {}
  for char in input_string:
      char_count[char] = char_count.get(char, 0) + 1
  string = ""
  for char, count in char_count.items():
      string += f"{char},{count} "
  print(string)

count_characters(input("Enter a string: "))

Enter a string: abcdefgabc
a,2 b,2 c,2 d,1 e,1 f,1 g,1


Question:
Please write a program which accepts a string from console and print it in reverse order.
Example:
If the following string is given as input to the program:
rise to vote sir
Then, the output of the program should be:
ris etov ot esir

Hints:
Use list[::-1] to iterate a list in a reverse order.

In [137]:
print(input("Enter a string: ")[::-1])

Enter a string: rise to vote sir
ris etov ot esir


Question:
Please write a program which accepts a string from console and print the characters that have even indexes.
Example:
If the following string is given as input to the program:
H1e2l3l4o5w6o7r8l9d
Then, the output of the program should be:
Helloworld

Hints:
Use list[::2] to iterate a list by step 2.

In [138]:
print((input("Enter a string: ")[::2]))

Enter a string: H1e2l3l4o5w6o7r8l9d
Helloworld



Question:
Please write a program which prints all permutations of [1,2,3]


Hints:
Use itertools.permutations() to get permutations of list.

In [140]:
from itertools import permutations as perm

perms = perm([1, 2, 3])
for perm in perms: print(perm)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)


Question:
Write a program to solve a classic ancient Chinese puzzle:
We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?
Hint:
Use for loop to iterate all possible solutions.

In [ ]:
# 23?

## Recursion  execrcises

Question: Print the first 20 numbers in fibonacci sequence.

In [141]:
def print_fib_lst(n: int) -> None:
  fib_lst = [fib(x) for x in range(n + 1)]
  print(",".join(list(map(str, fib_lst))))


print_fib_lst(20)

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181,6765

Question: Write a function to compute the factorial of n.

In [143]:
def factorial(n: int) -> int:
  if (n == 1): return 1
  return n * factorial(n - 1)


print(factorial(5))

120

Question: Write a Python program of recursion list sum.
Example: [1, 2, [3,4], [5,6]]
Expected Result: 21

In [152]:
def sum_list(lst, index=0):
    if index == len(lst):
        return 0
    if isinstance(lst[index], int):
        return lst[index] + sum_list(lst, index + 1)
    elif isinstance(lst[index], list):
        return sum_list(lst[index]) + sum_list(lst, index + 1)
    else:
        return sum_list(lst, index + 1)

print(sum_list([1, 2, [3, 4], [5, 6]]))

21